* {
    font-family: "JetBrainsMono NF", FontAwesome, sans-serif;
    background-image: none;
    transition: 20ms;
}

window {
    background-color: rgba(12, 12, 12, 0.8);
}

button {
    color: #ffffff;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-style: solid;
    background-color: rgba(12, 12, 12, 0.3);
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 20px;
}

button:focus, button:active, button:hover {
    color: #a6da95;
    background-color: rgba(12, 12, 12, 0.5);
    border: 3px solid #a6da95;
}

#lock {
    background-image: image(url("lock.png"));
}

#logout {
    background-image: image(url("logout.png"));
}

#suspend {
    background-image: image(url("suspend.png"));
}

#hibernate {
    background-image: image(url("hibernate.png"));
}

#shutdown {
    background-image: image(url("shutdown.png"));
}

#reboot {
    background-image: image(url("reboot.png"));
}
